@* Home Page *@

@{
    ViewData["Title"] = "Home Page";
}

<h1 style="background-color: red; color: white" class="text-center">
    Welcome to Sunrise Company - Home Page
</h1>

<a asp-controller="Employees" asp-action="GetIndexView" class="btn btn-success">Our Employees</a>

<a asp-controller="Departments" asp-action="GetIndexView" class="btn btn-success">Our Departments</a>

<br />

<i class="fas fa-list"></i>
<i class="fas fa-th-list"></i>
<i class="fas fa-list-alt"></i>
<br />
<i class="fas fa-trash"></i>
<br />
<i class="fas fa-pencil"></i>
<i class="fas fa-pencil-alt"></i>
<i class="fas fa-pencil-square"></i>

